.todos {
  /* border: 1px solid; */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  max-height: 70vh;
  overflow-y: scroll;
  width: 450px;
  padding: 10px 15px;
  list-style: none;
  margin-bottom: 1em;
}

.todos::-webkit-scrollbar {
  display: none;
}

.todos__item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 2px solid black;
}
.todos__item h3 {
  flex: 1;
}

.todos__item.checked {
  text-decoration: line-through !important;
}

.todos__item.checked > h3 {
  opacity: 0.5;
}
